Repository Artorias2049/agent-doc-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-schemas, validate-agent-messages, validate-documentation, test-enhanced-protocol

validate-schemas:
  name: Validate YAML Schemas
  entry: python
  language: system
  args:
  - -c
  ...

validate-agent-messages:
  name: Validate Agent Message Files
  entry: python
  language: system
  args:
  - framework/validators/validator.py
  - message_file

validate-documentation:
  name: Validate Documentation
  entry: bash
  language: system
  args:
  - -c
  - "if [ -f \"framework/scripts/validate.sh\" ]; then\n  chmod +x framework/scripts/validate.sh\n  ./framework/scripts/validate.sh --self_validate\nfi\n"
  pass_filenames: false

test-enhanced-protocol:
  name: Test Enhanced Protocol
  entry: bash
  language: system
  args:
  - -c
  - 'cd framework/agent_communication/core
  
    python enhanced_protocol.py --help > /dev/null
  
    echo "✅ Enhanced protocol CLI is functional"
  
    '
  pass_filenames: false

feat: enhance chat export and agent communication with improved clipboard integration and MCP server support
  .claude/commands/chat_export.md
  .claude/core/command_router.py
  .claude/mcp_servers.json
  .claude/scripts/chat_export_direct.sh
  .claude/scripts/chat_logger.py
  .claude/scripts/mcp_server.py
  README.md
  framework/agent_communication/core/enhanced_protocol.py
  framework/agent_communication/core/models.py
Due: test-enhanced-protocol

docs: update framework documentation to v1.1.0 with Claude Code optimization features
  .claude/config/agent_settings.json
  framework/docs/components/agent_communication/overview.md
  framework/docs/components/feedback/overview.md
  framework/docs/components/git/overview.md
  framework/docs/documentation_protocol.md
Due: validate-documentation

removed redundant files
  .claude/SLASH_COMMANDS.md
  .claude/USAGE_GUIDE.md
  .claude/chat_history/README.md
  .claude/commands/agent_audit.md
  .claude/commands/agent_send.md
  .claude/commands/agent_validate.md
  .claude/commands/agent_workflow.md
  .claude/commands/chat_config.md
  .claude/commands/chat_export.md
  .claude/commands/chat_history.md
  .claude/config/chat_logging.json
  .claude/config/command_routing.json
  .claude/config/environments.json
  .claude/core/command_router.py
  .claude/mcp_servers.json
  .claude/scripts/agent_wrapper.py
  .claude/scripts/chat_export_direct.sh
  .claude/scripts/chat_logger.py
  .claude/scripts/claude_aliases.sh
  .claude/scripts/claude_command_wrapper.sh
  .claude/scripts/claude_slash_integration.sh
  .claude/scripts/claude_wrapper.sh
  .claude/scripts/git-hooks/post-commit
  .claude/scripts/install_chat_logging.sh
  .claude/scripts/mcp_server.py
  .claude/scripts/slash_command_handler.py
  .claude/scripts/test_slash_commands.sh
  .claude/workflows/chat_management.yml
Due: none

docs: clean up documentation and remove redundant protocol implementation
  CLAUDE.md
  README.md
  framework/agent_communication/README.md
  framework/agent_communication/core/protocol.py
  framework/docs/agent_onboarding.md
  framework/docs/components/agent_communication/overview.md
Due: validate-documentation, test-enhanced-protocol

updated README.md
  README.md
Due: none

feat: enhance nested usage pattern support and remove specific project references
  CLAUDE.md
  README.md
  framework/agent_communication/config/settings.py
  framework/agent_communication/core/enhanced_protocol.py
  framework/docs/agent_onboarding.md
  framework/scripts/validate.sh
  framework/validators/validator.py
Due: validate-documentation, test-enhanced-protocol

fix: resolve validation issues and standardize timestamp format
  framework/agent_communication/core/enhanced_protocol.py
  framework/agent_communication/core/models.py
  framework/scripts/validate.sh
  framework/validators/validator.py
Due: test-enhanced-protocol

feat\!: revolutionize agent communication with natural conversation system v2.0
  CLAUDE.md
  MIGRATION_ANNOUNCEMENT.md
  MIGRATION_CHECKLIST.md
  MIGRATION_GUIDE_v2.md
  REVOLUTION_COMPLETE.md
  framework/agent_communication/__init__.py
  framework/agent_communication/core/enhanced_protocol.py
  framework/agent_communication/core/models.py
  framework/agent_communication/natural_agent.py
  framework/docs/agent_onboarding.md
  framework/schemas/agent_communication.yml
  framework/scripts/framework_protection.sh
  framework/scripts/test_migration.py
  framework/validators/validator.py
  mcp_database_schema.sql
Due: validate-schemas, validate-documentation, test-enhanced-protocol

feat\!: update documentation to v2.0.0 with global infrastructure revolution
  README.md
  framework/docs/agent_onboarding.md
  framework/scripts/quick_global_setup.py
Due: validate-documentation

feat: add universal agent client and global setup instructions
  AGENT_SETUP_INSTRUCTIONS.md
  framework/framework/agent_communication/history/natural_conversations.json
  universal_agent_client.py
Due: none

feat: implement project-locked agent naming system
  .agent_config/agent_env.sh
  .agent_config/agent_name.json
  AGENT_NAMING_QUICKSTART.md
  framework/docs/agent_naming_system.md
  framework/scripts/enhanced_universal_agent.py
  framework/scripts/setup_agent_name.py
  framework/scripts/setup_agent_name.sh
Due: validate-documentation

docs: clean up marketing language and remove redundant files
  AGENT_NAMING_QUICKSTART.md
  AGENT_SETUP_INSTRUCTIONS.md
  MIGRATION_ANNOUNCEMENT.md
  MIGRATION_CHECKLIST.md
  README.md
  REVOLUTION_COMPLETE.md
  framework/docs/agent_onboarding.md
  framework/framework/agent_communication/history/natural_conversations.json
Due: validate-documentation

docs: update agent onboarding to THE PROTOCOL v2.3.0
  .agent_config/agent_env.sh
  .agent_config/agent_name.json
  .claude/config/agent_settings.json
  .claude/config/permissions.json
  MIGRATION_GUIDE_v2.md
  README.md
  framework/agent_communication/feedback_agent.py
  framework/docs/agent_naming_system.md
  framework/docs/agent_onboarding.md
  framework/schemas/document_protocol.yml
  framework/schemas/enhanced_feedback_schema.yml
  framework/scripts/enhanced_universal_agent.py
  framework/scripts/enhanced_validate.sh
  framework/scripts/quick_global_setup.py
  framework/scripts/self_improvement_tracker.py
  framework/scripts/test_migration.py
  mcp_database_schema.sql
  universal_agent_client.py
Due: validate-schemas, validate-documentation

feat: complete codebase cleanup and agent system integration
  .agent_config/agent_env.sh
  .agent_config/agent_name.json
  .github/workflows/ci.yml
  framework/agent_communication/README.md
  framework/docs/agent_onboarding.md
  framework/docs/components/agent_communication/overview.md
  framework/docs/components/feedback/overview.md
  framework/docs/components/git/overview.md
  framework/docs/documentation_protocol.md
  framework/docs/templates/components/api.md
  framework/docs/templates/components/overview.md
  framework/docs/templates/projects/overview.md
  framework/docs/templates/projects/setup.md
  framework/scripts/framework_protection.sh
  tests/test_enhanced_protocol.py
  tests/test_models.py
Due: validate-documentation

feat: implement enhanced metadata system for dashboard integration
  framework/agent_communication/__init__.py
  framework/agent_communication/natural_agent.py
  framework/docs/agent_onboarding.md
  framework/schemas/enhanced_metadata_schema.yml
  framework/schemas/sample_enhanced_metadata.yml
  framework/scripts/validate.sh
  framework/validators/validator.py
Due: validate-schemas, validate-documentation

docs: complete comprehensive feedback system with enhanced documentation
  CLAUDE.md
  README.md
  framework/docs/agent_onboarding.md
  framework/docs/agent_pain_points.md
  framework/docs/api/enhanced_metadata_api.md
  framework/docs/api/implementation_guide.md
  framework/docs/api/sample_responses.md
  framework/docs/components/agent_communication/overview.md
  framework/docs/ui_agent_guide.md
  framework/scripts/create_doc.sh
  framework/scripts/create_documentation.py
Due: validate-documentation

refactor: consolidate documentation structure and eliminate redundancy
  CLAUDE.md
  framework/docs/agent_onboarding.md
  framework/docs/components/agent_communication/database_operations_component.md
  framework/docs/components/feedback/feedback_system_component.md
  framework/docs/components/git/git_workflow_component.md
  framework/docs/documentation_protocol.md
  framework/docs/templates/api_template.md
  framework/docs/templates/component_template.md
  framework/docs/templates/project_setup_template.md
  framework/docs/templates/project_template.md
  framework/docs/ui_agent_guide.md
  framework/scripts/create_documentation.py
  framework/scripts/enhanced_validate.sh
  framework/scripts/validate.sh
Due: validate-documentation

feat: upgrade THE PROTOCOL to v3.2.0 with complete SpacetimeDB integration
  .agent_config/agent_env.sh
  .agent_config/agent_name.json
  framework/docs/agent_onboarding.md
Due: validate-documentation

docs: update CLAUDE.md to v3.2 and remove marketing language
  CLAUDE.md
Due: none

docs: fix THE PROTOCOL v3.3.0 database name corrections
  framework/docs/agent_onboarding.md
Due: validate-documentation

feat: improve SpacetimeDB integration and documentation
  .gitignore
  CLAUDE.md
  framework/agent_communication/check_messages.py
  framework/agent_communication/spacetime_operations.py
  framework/agent_communication/verify_connection.py
  framework/docs/agent_onboarding.md
  framework/docs/agent_pain_points.md
  framework/docs/components/agent_communication/database_operations_component.md
  framework/docs/components/feedback/feedback_system_component.md
  framework/docs/components/git/git_workflow_component.md
Due: validate-documentation

hotfix: Critical SpacetimeDB syntax fixes for agent registration
  framework/agent_communication/spacetime_operations.py
  framework/agent_communication/verify_connection.py
  framework/docs/agent_onboarding.md
Due: validate-documentation

fix: Resolve critical agent identity spoofing vulnerability and modernize framework
  .agent_config/agent_env.sh
  .agent_config/agent_name.json
  AGORA_MOIRAI_README.md
  CLAUDE.md
  framework/agent_communication/agora_integration.py
  framework/agent_communication/check_messages.py
  framework/agent_communication/spacetime_operations.py
  framework/agent_communication/verify_connection.py
  framework/docs/agent_messaging_guide.md
  framework/docs/agent_onboarding.md
  framework/docs/security_architecture.md
  framework/docs/ui_agent_guide.md
  framework/mcp_integration/__init__.py
  framework/mcp_integration/agora_client.py
  framework/mcp_integration/documentation_agora_client.py
  framework/moirai_core/__init__.py
  framework/moirai_core/overseer.py
  framework/moirai_core/project_planner.py
  framework/moirai_core/task_coordinator.py
  framework/scripts/agent_identity_verifier.py
  framework/scripts/announce_moirai.py
  framework/scripts/create_documentation.py
  framework/scripts/setup_agent_name.py
  framework/scripts/setup_agent_name.sh
  framework/scripts/spacetime_auth_integration.py
  framework/scripts/test_agora_moirai.py
Due: validate-documentation

fix: Update agent name references from AgentDocSystem to DocSystemAgent
  framework/docs/security_architecture.md
Due: validate-documentation

feat: Complete Agent Documentation System v4.0.0 verification and standardization
  framework/__init__.py
  framework/agent_communication/__init__.py
  framework/agent_communication/agora_integration.py
  framework/docs/agent_messaging_guide.md
  framework/docs/agent_onboarding.md
  framework/docs/agent_pain_points.md
  framework/docs/api/enhanced_metadata_api.md
  framework/docs/api/implementation_guide.md
  framework/docs/api/sample_responses.md
  framework/docs/components/feedback/feedback_system_component.md
  framework/docs/components/git/git_workflow_component.md
  framework/docs/security_architecture.md
  framework/docs/templates/api_template.md
  framework/docs/templates/component_template.md
  framework/docs/templates/project_setup_template.md
  framework/docs/templates/project_template.md
  framework/mcp_integration/__init__.py
  framework/mcp_integration/agora_client.py
  framework/mcp_integration/documentation_agora_client.py
  framework/moirai_core/__init__.py
  framework/schemas/document_protocol.yml
  framework/schemas/enhanced_metadata_schema.yml
  framework/scripts/comprehensive_test.py
  framework/scripts/simple_test.py
  framework/scripts/test_agora_moirai.py
Due: validate-schemas, validate-documentation

feat: Complete Agora v5 migration with MCP integration and enhanced documentation
  .gitignore
  AGORA_MOIRAI_README.md
  CLAUDE.md
  Scientific Research on Multi-Agent Coordination Sy.md
  announce_protocol_v5.0.1.py
  framework/__init__.py
  framework/agent_communication/__init__.py
  framework/agent_communication/agora_integration.py
  framework/agent_communication/check_messages.py
  framework/agent_communication/spacetime_operations.py
  framework/agent_communication/verify_connection.py
  framework/docs/agent_onboarding.md
  framework/docs/mcp_setup_claude_code.md
  framework/docs/security_architecture.md
  framework/mcp_integration/__init__.py
  framework/mcp_integration/agora_client.py
  framework/mcp_integration/agora_mcp_server.py
  framework/mcp_integration/documentation_agora_client.py
  framework/mcp_integration/mcp_config.json
  framework/moirai_core/__init__.py
  framework/schemas/document_protocol.yml
  framework/schemas/enhanced_metadata_schema.yml
  framework/scripts/agent_diagnostic.sh
  framework/scripts/announce_moirai.py
  framework/scripts/comprehensive_test.py
  framework/scripts/spacetime_auth_integration.py
  project_docs/agora_v5_migration_requirements.md
  project_docs/agora_v5_protocol.md
  project_docs/id_generation_root_cause_analysis.md
  project_docs/onboarding_troubleshooting_guide.md
  project_docs/technical_analysis_agent_onboarding_issues.md
  project_docs/v5_migration_guide.md
  simple_announce.py
Due: validate-schemas, validate-documentation

Path conditions:
  validate-schemas: any of: ^framework/schemas/.*\.yml$
  validate-agent-messages: any of: ^framework/agent_communication/history/.*\.json$
  validate-documentation: any of: ^framework/docs/.*\.md$
  test-enhanced-protocol: any of: ^framework/agent_communication/core/.*\.py$
